{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,theme initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'audiocontroller/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'audiocontroller/css/settings-style.css' %}">
  <title>L Audio</title>
</head>
<body class="js-body">

  <main class="main-style js-main">
    <button class="config-button" onclick="showConfig()">Settings</button>
    <a class="home-button" href="{% url 'home' %}">
      <button class="home-button">Home</button>
    </a>
  
    <div class="pads-div-1">
      <button id="kickButton" class="pad-style-1"></button>
      <button id="snareButton" class="pad-style-2"></button>
      <button id="hatButton" class="pad-style-3"></button>
      <button id="openhatButton" class="pad-style-4"></button>
    </div>
    <div class="pads-div-2">
      <button id="button808" class="pad-style-5"></button>
      <button id="clapButton" class="pad-style-6"></button>
      <button id="congaButton" class="pad-style-7"></button>
      <button id="metalshakeButton" class="pad-style-8"></button>
    </div>
  
    <div class="melody-div">
      <button id="doButton" class="melody-button-style-first"></button>
      <button id="reButton" class="melody-button-style-second"></button>
      <button id="miButton" class="melody-button-style"></button>
      <button id="faButton" class="melody-button-style-center"></button>
      <button id="solButton" class="melody-button-style"></button>
      <button id="laButton" class="melody-button-style-penultimate"></button>
      <button id="siButton" class="melody-button-style-last"></button>
    </div>
  </main>

  <div class="presets-div js-presets-buttons"></div>
  <div class="config-content js-config"></div>
  <div class="js-done done-button-div"></div>

  <script src="{% static 'audiocontroller/js/script.js' %}"></script>
  <script src="{% static 'audiocontroller/js/settings.js' %}"></script>
</body>
</html>