{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Apps</title>

    <link rel="stylesheet" href="{% static 'home/css/style-home.css' %}">
</head>
<body>
    <h1>Audio Apps by LG</h1>

    <div class="audiocontroller">
        <a href="{% url 'audiocontroller' %}">
            <img class="audiocontroller-icon" src="{% static 'home/images/audiocontroller.png' %}" alt="">
        </a>
        
        <p>Audio Controller</p>
    </div>
    


    <button>AUDIO TEST BUTTON</button>


    <script>
        const myAudio = new Audio('myaudio.mp3');

        document.querySelector('button').addEventListener('click', function() {
            myAudio.play();
        })
    </script>
</body>
</html>